<html>
  <head>
    <link rel="stylesheet" href="./app.component.css">
  </head>
  <body>
    <div class="container-fluid">
        <h1>Vivero El Otoño</h1>
        <hr class="my-4">
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 p-0">
              <div class="banner">
              </div>
            </div>
          </div>
        </div>
        <br>
        <app-plantas-list></app-plantas-list>
    </div>
  </body>
  <footer>
    <h6 class="text-center">Contact us: +57 3102105253 - infoviveroelotonlo.com - viveroelotonlo</h6>
  </footer>
</html>
